.navbar-form > .form-control {
    width: 300px !important;
}

.mb {
    margin-bottom: 5px;
}

.info-box {
    min-height: 80px !important;
    margin-bottom: 20px !important;
    padding: 5px !important;
}

    .info-box i {
        height: 70px !important;
        font-size: 30px !important;
        line-height: 60px !important;
        width: 60px !important;
    }

    .info-box .count {
        margin-top: 0px !important;
        font-size: 25px !important;
        font-weight: 500 !important;
    }

.blue-bg {
    color: #fff !important;
    background: #205b74 !important;
    background-color: #2f78dd !important;
}

.brown-bg {
    color: #fff !important;
    background: #e1bd85 !important;
    background-color: #ffbb4f !important;
}

.green-bg {
    /* color: #fff; */
    background: #0e8252 !important;
    background-color: #37ca54 !important;
}

.red-bg {
    color: #fff;
    background: #d13939 !important;
    background-color: #fa4444 !important;
}

.purple-bg {
    color: #fff;
    background: #cc22ce !important;
    background-color: #d54ca7 !important;
}

body {
    font-size: 16px !important;
    background: #fff !important;
}

.wrapper {
    padding-top: 2px !important;
}

.form-horizontal .form-group {
    border-bottom: 0px !important;
}

.dark-bg {
    color: #fff !important;
    background: #0e3453 !important;
    background-color: #2535a3 !important;
}

.lite {
    color: #ffffff !important;
}

.footer {
    padding: 0 0px !important;
}

.mb-2 {
    padding-bottom: 6px;
}

.mbrow {
    padding-bottom: 8px;
}

.txtbold {
    font-weight: bold;
}

.thead {
    background-color: aliceblue;
}

.popup {
    background-color: rgb(255,255,255);
}

.top {
    margin-top: 30px;
}

.top-nav .username {
    font-size: 18px !important;
    color: #fff !important;
}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar {
    margin-top: 2px !important;
}

::-webkit-scrollbar {
    width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blue !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

@media print {
    .invoice {
        font-size: 11px !important;
        overflow: hidden !important
    }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice > div:last-child {
            page-break-before: always
        }
}


.modal-header {
    text-shadow: none !important;
    font-weight: normal !important;
    border-top: none !important;
    background-color: #ffeba4 !important;
}